<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iFox.mapperDAO.ParkLogMapper">
    <cache eviction="FIFO" readOnly="false" flushInterval="60000" size="1024" />

    <resultMap id="logResult" type="com.iFox.entity.ParkLog">
        <id column="id" property="id"/>
        <result column="log_information" property="logInformation"/>
        <result column="log_date" property="logDate"/>
        <result column="ImgPath" property="imgPath"/>
        <result column="userId" property="userId"/>
        <result column="surname_count" property="surnameCount"/>
        <association property="parkUser"
        select="com.iFox.mapperDAO.ParkUserMapper"
        column="userId">
        </association>

    </resultMap>

    <!--void saveLog(ParkLog parkLog);-->
    <insert id="saveLog">
        INSERT into tbl_log(id,log_information,log_date,ImgPath,userId,surname_count)
        VALUES (
        NULL,
        #{parkLog.logInformation},
        #{parkLog.logDate},
        #{parkLog.ImgPath},
        #{parkLog.userId},
        #{parkLog.surname_count}
        )
    </insert>


    <!--ParkLog getParkLogAndUser();-->
    <select id="getParkLogAndUser" resultMap="logResult">
        SELECT id,log_information,log_date,ImgPath,userId,surname_count FROM tbl_log
    </select>



</mapper>